<div class="header">
    <mat-toolbar>
        <span class="door-icon"></span>
        <span class="logo"></span>
        <span class="spacer"></span>
        <div class="header-small-text">
            <span>{{Resource.LAST_UPDATE}}</span>
            <span class="header-timestamp">{{requestTimestamp}}</span>
        </div>
        <button mat-raised-button color="accent" (click)="onRefresh()">
            <mat-icon aria-hidden="false" aria-label="refresh icon" fontIcon="update"></mat-icon>
            {{Resource.REFRESH}}
        </button>
    </mat-toolbar>
</div>

<div class="content">
    <ng-container *ngIf="isError; then errorContent; else successContent">
    </ng-container>

    <ng-template #successContent>
        <div class="container">
            <div *ngFor="let zoomStatus of zoomStatusList" class="item">
                <app-room [roomName]="zoomStatus.roomName" [roomDisplayName]="zoomStatus.roomDisplayName"
                    [userName]="zoomStatus.userName" [roomStatus]="zoomStatus.roomStatus" [joinUrl]="zoomStatus.joinUrl"></app-room>
            </div>
        </div>
    </ng-template>

    <ng-template #errorContent>
        <app-error-information></app-error-information>
    </ng-template>
</div>